.hamburger
	cursor: pointer
	padding: 10px 0 0
	transition-property: opacity, filter
	transition-duration: 0.15s
	transition-timing-function: linear
	text-transform: none
	background-color: transparent
	border: 0
	text-align: center
	margin: 0
	overflow: visible
	width: 30px
	height: 30px
	&:hover
		opacity: 0.7
	.hamburger.is-active:hover
		opacity: 0.7
	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner::before,
	.hamburger.is-active .hamburger-inner::after
		background-color: #fff
	.hamburger-box
		width: 24px
		height: 24px
		display: inline-block
		position: relative
	.hamburger-inner
		display: block
		top: 50%
		margin-top: -2px
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
		width: 20px
		height: 2px
		background-color: #000
		border-radius: 1px
		position: absolute
		transition-property: transform
		transition-duration: 0.15s
		transition-timing-function: ease
	.hamburger-inner::before, .hamburger-inner::after
		content: ""
		display: block
	.hamburger-inner::before
		top: -8px
	.hamburger-inner::after
		bottom: -10px
.hamburger--collapse .hamburger-inner
	top: auto
	bottom: 0
	transition-duration: 0.13s
	transition-delay: 0.13s
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
.hamburger--collapse .hamburger-inner::after
	top: -16px
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear
.hamburger--collapse .hamburger-inner::before
	transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19)
.hamburger--collapse.is-active .hamburger-inner
	transform: translate3d(0, -10px, 0) rotate(-45deg)
	transition-delay: 0.22s
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
.hamburger--collapse.is-active .hamburger-inner::after
	top: 0
	opacity: 0
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear
.hamburger--collapse.is-active .hamburger-inner::before
	top: 0
	transform: rotate(-90deg)
	transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1)